
nav{
    background-color: rgb(49, 48, 48);
    display: flex;
    align-items: center;
    padding:10px 20px;
    justify-content: space-between ;
}
a {
    text-decoration: none;
}

ul li a {
    color: rgb(250, 250, 250);
}
ul li a:hover {
    color: rgb(119, 115, 117) ;
}
ul {
    margin: 0 20px 0 20px;
    list-style-type: none;
    display:inline-block;
}
li {
    margin: 0 20px 0 20px;
    display: inline-block;
    padding: 0 10px;
}
.divv {
    border: 1px solid  rgb(26, 24, 24);
    height: 80px;
    width: 200px;
    color: white;
}

.div{
    display: flex;
    align-items: center;
    padding:0 280px;
    justify-content: space-between ;
}
.pp{
    text-align: center;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo2 {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}
.logo3 {
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.logo1 {
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.lo1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
fieldset{
    width: 200px;
    height: 100px;
}
.box {
    background-image: url("./kompyuter.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.div2 h1{
    font-size: 60px;
}
.div2 h3{
    color: chocolate;
}
.div2 h1 {
    line-height: 1px;
}
.rasm{
    margin-top: 30px;
    width: 100%;
    height: 500px;
}
.dd h4 {
    color: red;
}
.dd p{
    color: dimgray;
}

.lo2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;

}
.hv{
    display: flex;
    text-align: start;
    align-items: center;
    justify-content: center;
}

.gb{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: rgb(165, 157, 157);
}
.gb span{
    font-size: 30px;
}
.gb h1{
    font-size: 50px;
}
.m{
    border: 1px solid rgb(165, 157, 157);
    width: 200px;
    height: 110px;
}
.g{
    border: 1px solid rgb(165, 157, 157);
    width: 200px;
    height: 110px;
}



